
<div class="score-page">
  <h2>Result:</h2>
  <p> Your Attempt is: "<%= @result[:attempt] %>"</p>
  <p>is your attempt valid? <%= @valid %></p>
  <p>Time taken :- <%= @result[:time] %> </p>
  <p>your score :- <%= @result[:score] %> </p>
  <form class="" action="game" method="get"><button type="submit"> Play Again </button></form>
</div>
