// Place all the styles related to the longest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-page{
  text-align: center;
  color: white;
  font-size: 24px;
  margin-top: 50px;
}

.score-page{
  text-align: center;
  color: white;
  font-size: 24px;
  margin-top: 50px;
}

.butt{
  padding: 2px 5px 2px 5px;
}
